In [171]:
import pandas as pd

df = pd.read_csv('final2023.csv')

In [172]:
df.head()

,Unnamed: 0,title,authors,affiliations,citedby,mainterms,subject_areas,publisher,Year
0,0,Graphene oxide-alginate hydrogel-based indicat...,"['Boobphahom S.', 'Rodthongkum N.']",['Metallurgy and Materials Research Institute ...,0.0,"['Alginate hydrogels', 'Alzheimers disease', '...","['Structural Biology', 'Biochemistry', 'Molecu...",Elsevier B.V.,2023
1,1,Rare coordination behavior of triethanolamine ...,"['Chauhan C.', 'Kumar R.', 'Saini A.', 'Kumar ...","['Institute of Nano Science and Technology, Mo...",0.0,"['Coordination behavior', 'Coordination comple...","['Analytical Chemistry', 'Spectroscopy', 'Orga...",Elsevier B.V.,2023
2,2,Total ammonia nitrogen removal and microbial c...,"['Satanwat P.', 'Tapaneeyaworawong P.', 'Wechp...","['Chulalongkorn University', 'Mahidol Universi...",0.0,[],['Aquatic Science'],Elsevier B.V.,2023
3,3,Effects of microaeration and sludge recirculat...,"['Buakaew T.', 'Ratanatamskul C.']",['Chulalongkorn University'],0.0,"['Anaerobics', 'Anerobic baffled biofilm–MBR',...","['Environmental Engineering', 'Environmental C...",Elsevier B.V.,2023
4,4,Bioaccumulation of heavy metals in commerciall...,"['Patchaiyappan A.', 'Arulkumar A.', 'Shynshia...","['Pondicherry University', 'Cochin University ...",0.0,[],"['Ecology, Evolution, Behavior and Systematics...",Elsevier B.V.,2023

In [173]:
selectdf = df[['authors']]  # เลือกเป็น DataFrame
selectdf['citedby'] = df['citedby']
selectdf.head()

C:\Users\aungaing\AppData\Local\Temp\ipykernel_28188\3909710234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selectdf['citedby'] = df['citedby']

                                             authors  citedby
0                ['Boobphahom S.', 'Rodthongkum N.']      0.0
1  ['Chauhan C.', 'Kumar R.', 'Saini A.', 'Kumar ...      0.0
2  ['Satanwat P.', 'Tapaneeyaworawong P.', 'Wechp...      0.0
3                 ['Buakaew T.', 'Ratanatamskul C.']      0.0
4  ['Patchaiyappan A.', 'Arulkumar A.', 'Shynshia...      0.0

In [174]:
selectdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   authors  2890 non-null   object
 1   citedby  2888 non-null   float64
dtypes: float64(1), object(1)
memory usage: 45.3+ KB

In [175]:
import ast

In [176]:
selectdf['authors'] = selectdf['authors'].apply(ast.literal_eval)

C:\Users\aungaing\AppData\Local\Temp\ipykernel_28188\314487344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selectdf['authors'] = selectdf['authors'].apply(ast.literal_eval)

In [177]:
selectdf['author_count'] = selectdf['authors'].apply(len)
Q1 = selectdf['author_count'].quantile(0.25)
Q3 = selectdf['author_count'].quantile(0.75)
IQR = Q3 - Q1

# 3. คำนวณช่วงที่ไม่ถือว่าเป็น Outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# 4. ลบแถวที่มีจำนวนผู้เขียนเป็น Outlier
filtered_df = selectdf[
    (selectdf['author_count'] >= lower_bound) & 
    (selectdf['author_count'] <= upper_bound)
]

C:\Users\aungaing\AppData\Local\Temp\ipykernel_28188\3167488675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selectdf['author_count'] = selectdf['authors'].apply(len)

In [178]:
selectdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   authors       2890 non-null   object
 1   citedby       2888 non-null   float64
 2   author_count  2890 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 67.9+ KB

In [179]:
filtered_df = filtered_df.dropna(subset=['citedby', 'authors'])

In [180]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2712 entries, 0 to 2889
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   authors       2712 non-null   object
 1   citedby       2712 non-null   float64
 2   author_count  2712 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 84.8+ KB

In [181]:
filtered_df.head()

                                             authors  citedby  author_count
0                    [Boobphahom S., Rodthongkum N.]      0.0             2
1  [Chauhan C., Kumar R., Saini A., Kumar R., Kum...      0.0             7
2  [Satanwat P., Tapaneeyaworawong P., Wechprasit...      0.0             8
3                     [Buakaew T., Ratanatamskul C.]      0.0             2
4  [Patchaiyappan A., Arulkumar A., Shynshiang K....      0.0             8

In [182]:
max_author_count = filtered_df['author_count'].max()
print(f"max author count: {max_author_count}")

max author count: 15

In [183]:
filtered_df.to_csv('2023authornet.csv', index=False)