In [43]:
import pandas as pd

df = pd.read_csv('finalscrap.csv')

In [44]:
df.head()

,title,authors,affiliations,citedby,publisher,Year
0,Measuring the Queen Bee Phenomenon in technica...,Amornkitvikai Y.,Chulalongkorn University (Thailand),0,Routledge,2024
1,"Growth, total lipid content and fatty acid com...",Thongdet E.,Chulalongkorn University (Thailand); Mahanakor...,0,Kasetsart University,2024
2,Innovations in Stroke Identification: A Machin...,Saleem M.A.,Chulalongkorn University (Thailand),5,Institute of Electrical and Electronics Engine...,2024
3,"Survival, complications, and patient-reported ...",Sinsareekul C.,Chulalongkorn University (Thailand),0,Elsevier Inc.,2024
4,Transnational innovation systems for bioeconom...,Lutta A.I.,World Agroforestry Centre (Kenya),0,Frontiers Media SA,2024

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1000 non-null   object
 1   authors       1000 non-null   object
 2   affiliations  1000 non-null   object
 3   citedby       1000 non-null   int64
 4   publisher     1000 non-null   object
 5   Year          1000 non-null   int64
dtypes: int64(2), object(4)
memory usage: 47.0+ KB

In [35]:
df.groupby('affiliations').count()

,title,authors,citedby,publisher,Year
affiliations,,,,,
"Aarhus Universitet (Denmark); Faculty of Medicine Ramathibodi Hospital, Mahidol University (Thailand)",1,1,1,1,1
Abdul Wali Khan University Mardan (Pakistan),1,1,1,1,1
Academic Teaching Hospital of Johannes Gutenberg Medical University Mainz (Germany); University Hospital Ruppin-Brandenburg (Germany),1,1,1,1,1
Adelphi Group (United Kingdom),1,1,1,1,1
"All India Institute of Medical Sciences, New Delhi (India)",1,1,1,1,1
...,...,...,...,...,...
Yerevan Physics Institute (Armenia),14,14,14,14,14
Yonsei University (South Korea); PHI Digital Healthcare (South Korea),1,1,1,1,1
Zewail City of Science and Technology (Egypt); CNRS Centre National de la Recherche Scientifique (France),1,1,1,1,1
l'Institut des Maladies Génétiques Imagine (France); Université Paris Cité (France); Hôpital Necker Enfants Malades (France); Centre de Référence des Malformations Rares de la Face et de la Cavité Buccale MAFACE (France),1,1,1,1,1
École Polytechnique Fédérale de Lausanne (Switzerland),1,1,1,1,1

In [42]:
df['affiliations'].loc[20]

'ICAR - Central Inland Fisheries Research Institute, Barrackpore (India); Haripal G.D. Institution (India)'